.btn{
  display: inline-block;
  padding: 0.5em 2em;
  background-color: #272727;
  border-radius: 100px;
  transition: 200ms;
  font-size: 20px;
  font-weight: 600;
}
.btn:hover{
  text-decoration: none;
  background-color: #000000;
  transform: scale(1.05);
}
.btn:active{
  transform: scale(1);
}
