@charset "utf-8";
.mt8{margin-top:8px}
.mt16{margin-top:16px}
.mt24{margin-top:24px}
.mr8{margin-right:8px}
.mr16{margin-right:16px}
.mr24{margin-right:24px}
.mb8{margin-bottom:8px}
.mb16{margin-bottom:16px}
.mb24{margin-bottom:24px}
.ml8{margin-left:8px}
.ml16{margin-left:16px}
.ml24{margin-left:24px}
.pt8{padding-top:8px}
.pt16{padding-top:16px}
.pt24{padding-top:24px}
.pr8{padding-right:8px}
.pr16{padding-right:16px}
.pr24{padding-right:24px}
.pb8{padding-bottom:8px}
.pb16{padding-bottom:16px}
.pb24{padding-bottom:24px}
.pl8{padding-left:8px}
.pl16{padding-left:16px}
.pl24{padding-left:24px}
.fs12{font-size:12px}
.fs16{font-size:16px}
.lh16{line-height:16px}
.lh20{line-height:20px}
.lh24{line-height:24px}
.fw300{font-weight:300}
.fw500{font-weight:500}
.clearfix:after{display:table;content:'';clear:both}
.ell{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.ells{display:-webkit-box;overflow:hidden;word-wrap:break-word;-webkit-box-orient:vertical}
.cell{display:table-cell;width:2000px}
.c_m{color:#000}
.c_s{color:#71717a}
.c_info{color:#0891b2}
blockquote,body,figure,p{margin:0;padding:0}