@import '../sass/WidthPrefix';
@import '../sass/SACSS';
@import "../sass/Helpers";

$prefix: '_'; // 所有的 ClassName 都会添加这个前缀(但不推荐添加前缀)
$unit: 1/16*1rem; // 单位换算表达式

// 为核心文件添加前缀
@include WidthPrefix($prefix);

// margin
@include SACSS($prefix, 'margin-top', 'mt', (8, 16), $unit);
@include SACSS($prefix, 'margin-right', 'mr', (8, 16), $unit);
@include SACSS($prefix, 'margin-bottom', 'mb', (8, 16), $unit);
@include SACSS($prefix, 'margin-left', 'ml', (8, 16), $unit);

// padding
@include SACSS($prefix, 'padding-top', 'mt', (8, 16), $unit);
@include SACSS($prefix, 'padding-right', 'mr', (8, 16), $unit);
@include SACSS($prefix, 'padding-bottom', 'mb', (8, 16), $unit);
@include SACSS($prefix, 'padding-left', 'ml', (8, 16), $unit);

// font
@include SACSS($prefix, 'font-size', 'fs', (12, 16), $unit);
@include SACSS($prefix, 'line-height', 'lh', (16, 24), $unit);

// size
@include SACSS($prefix, 'width', 'w', (16, 24), $unit);
@include SACSS($prefix, 'height', 'h', (16, 24), $unit);

// Helpers
.clearfix {
  @include Clearfix;
}

.ellipsis {
  @include Ellipsis;
}

.cell {
  @include Cell;
}

.ellipsis-mul {
  @include Ellipsis-multiple;
}

.ellipsis-mul._2 {
  -webkit-line-clamp: 2;
}

// Color
.c_m {
  color: #000;
}

.c_s {
  color: #71717a;
}

.c_info {
  color: #0891b2;
}
