@import '../sass/WidthPrefix';
@import '../sass/SACSS';
@import "../sass/Helpers";

$prefix: '_'; // 所有的 ClassName 都会添加这个前缀(但不推荐添加前缀)
$unit: 1/16*1rem; // 单位换算表达式

// 为核心文件添加前缀
@include WidthPrefix($prefix);

// margin
@include SACSS('margin-top', '#{$prefix}mt', (8, 16), $unit);
@include SACSS('margin-right', '#{$prefix}mr', (8, 16), $unit);
@include SACSS('margin-bottom', '#{$prefix}mb', (8, 16), $unit);
@include SACSS('margin-left', '#{$prefix}ml', (8, 16), $unit);

// padding
@include SACSS('padding-top', '#{$prefix}mt', (8, 16), $unit);
@include SACSS('padding-right', '#{$prefix}mr', (8, 16), $unit);
@include SACSS('padding-bottom', '#{$prefix}mb', (8, 16), $unit);
@include SACSS('padding-left', '#{$prefix}ml', (8, 16), $unit);

// font
@include SACSS('font-size', '#{$prefix}fs', (12, 16), $unit);
@include SACSS('line-height', '#{$prefix}lh', (16, 24), $unit);

// size
@include SACSS('width', '#{$prefix}w', (16, 24), $unit);
@include SACSS('height', '#{$prefix}h', (16, 24), $unit);

// Helpers
.clearfix {
  @include Clearfix;
}

.ellipsis {
  @include Ellipsis;
}

.cell {
  @include Cell;
}

.ellipsis-mul {
  @include Ellipsis-multiple;
}

.ellipsis-mul._2 {
  -webkit-line-clamp: 2;
}

// Color
.c_m {
  color: #000;
}

.c_s {
  color: #71717a;
}

.c_info {
  color: #0891b2;
}
