@charset "utf-8";
.g_mt8{margin-top:.5rem}
.g_mt16{margin-top:1rem}
.g_mr8{margin-right:.5rem}
.g_mr16{margin-right:1rem}
.g_mb8{margin-bottom:.5rem}
.g_mb16{margin-bottom:1rem}
.g_ml8{margin-left:.5rem}
.g_ml16{margin-left:1rem}
.g_mt8{padding-top:.5rem}
.g_mt16{padding-top:1rem}
.g_mr8{padding-right:.5rem}
.g_mr16{padding-right:1rem}
.g_mb8{padding-bottom:.5rem}
.g_mb16{padding-bottom:1rem}
.g_ml8{padding-left:.5rem}
.g_ml16{padding-left:1rem}
.g_fs12{font-size:.75rem}
.g_fs16{font-size:1rem}
.g_lh16{line-height:1rem}
.g_lh24{line-height:1.5rem}
.g_w16{width:1rem}
.g_w24{width:1.5rem}
.g_h16{height:1rem}
.g_h24{height:1.5rem}
.clearfix:after{display:table;content:'';clear:both}
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.cell{display:table-cell;width:2000px}
.ellipsis-mul{display:-webkit-box;overflow:hidden;word-wrap:break-word;-webkit-box-orient:vertical}
.ellipsis-mul._2{-webkit-line-clamp:2}
.c_m{color:#000}
.c_s{color:#71717a}
.c_info{color:#0891b2}